.container-signup {
    width: 90%;
    display: flex;
    margin: auto;
    /* border: 1px solid purple; */
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
}

#error-email{
    color: red;
    
}

.banner-log {
    width: 50%;
    text-align: center;
    /* margin-right: 50px; */
}

.banner-log img {
    width: 100%;
}


.banner-log h1 {
    font-size: 80px;
    margin: 0;
    text-align: center;
    color: transparent;
    font-weight: normal;
    background: linear-gradient(360deg, #0080D7, #FF7F28, purple);
    -webkit-background-clip: text;
    position: relative;
}

.banner-log h1:after {
    content: "THE EASY WAY";
    position: absolute;
    width: 100%;
    top: 3px;
    left: 3px;
    color: #000;
    z-index: -1;
}

.banner-log h1:hover {
    margin: 0;
    text-align: center;
    color: transparent;
    font-weight: normal;
    background: linear-gradient(360deg, skyblue, purple, green);
    -webkit-background-clip: text;
    position: relative;
}

.banner-log h2 {
    margin: 0;
    text-align: center;
    color: transparent;
    font-weight: bold;
    background: linear-gradient(360deg, skyblue, purple, green);
    -webkit-background-clip: text;
    position: relative;
}

.banner-log h2:hover {
    margin: 0;
    text-align: center;
    color: transparent;
    font-weight: normal;
    background: linear-gradient(360deg, #0080D7, #FF7F28, purple);
    -webkit-background-clip: text;
    position: relative;
}

.container-form {
    width: 40%;
    padding: 10px;
    background-color: white;
    border-radius: 25px;
    /* margin-left: 70px; */
}

.complete-name {
    display: flex;
    margin-bottom: 10px;
}

.email-box {
    margin-bottom: 10px;
}

.birthsday {
    display: flex;
}

.radio-butoms {
    display: flex;
}

@media(max-width: 1120px) {
    .container-signup {
        display: block;
        justify-content: space-between;
        grid-template-columns: 1fr;
    }

    .banner-log {
        display: none;
    }

    .container-form {
        width: 60%;
        margin: auto;
    }
}

@media(max-width: 682px) {
    .container-form {
        width: 80%;
    }
}

@media(max-width: 458px) {
    .container-form {
        width: 100%;
    }
}

